/* Tablet Styles */
@media only screen and (min-width: 100px) and (max-width: 400px) {
   
    .logo{
        width:100px;
    }
    .user-login{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .user-login img{
        width:20px;
    }
    .login{
        display:none;
    }
    .register{
        display:none;
    }
    .nav{
        display: none;
    }
    .close2{
        display:none;
    }
    .nav-btn-2{
        display: block;
        margin-left: 5px;
    }
    .nav-btn-2 div{
        background-color: black;
        width: 28px;
        height: 28px;
        border-radius: 5px;
    }
    .nav-btn-2 div div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-btn-2 div div img{
        width:20px;
    }
    #close{
        display: none;
    }
    .nav3 ul{
        font-family: 'poppins';
    }
    .nav3 ul li a{
        color: black;
    }
    .nav3 ul{
        list-style-type: none;
        margin-right: 5%;
    }
    .nav3 ul li{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 3px;
        border: 3px #df504e;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .nav3 ul li a{
        margin-left: 3px;
    }
    .nav3 ul li a:hover{
        color:#fff;
    }
    .nav3 ul li:hover{
        border-radius: 3px;
        background-color:#df504e;
        color:#fff;
    }
    .sub{
        display: none;
    }
    .tog{
        display: block;
    }
    /**/
    .main-in{
        margin: 0 10%;
        display:grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
    }
    main{
        padding:30px;
        width: auto;
        height: auto;
    }
    .sell{
        margin-bottom: 50px;
    }
    .sell-btn{
        padding: 0 2px;
        font-size: 8px;
        width: 60px;  
        height: 20px; 
    }
    .sell-btn img{
        width: 8px;
    }
    .footer{
        padding:30px 50px 20px;
        display: grid;
        grid-template-columns: 100%;
    }
    .sell h1{
        font-size: 18px;
    }
    h4{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    .nav3 ul li span{
        margin-left: 3px;
    }
    .sell button{
        font-size: 10px;
        padding: 3px 5px;
    }
    main .search div{
        font-size: 10px;
    }
    main .search input{
        font-size: 8px;
        height: 30px;
    }
    main .search select{
        height: 30px;
        font-size: 8px;
    }
    main .search button{
        display: flex;
        align-items: center;
        justify-content: center;
        height:20px;
        font-size: 10px;
    }
    .footer .social div a{
        font-size: 10px;
    }
    .footer .social div img{
        width:20px;
    }
    .user .nav-btn-2{
        width: 20px;
    }
    .nav-btn-2 div {
        width: 20px;
        height: 20px;
    }
    .nav-btn-2 div div img{
        width: 15px;
    }
    .footer .quick-links div a{
        font-size: 10px;        
    }
    footer .logo-part img{
        width: 80px;
    }
    .main-in select{
        background-color: #fff;
    }
}